* {
    margin: 0;
    padding: 0;
    
}

.__logo {
    color: #567491;
    font-size: 26px;
    padding-top: 40px;

}
body {
    background-color: white;
}

.header__logo-cloudy {
    padding-left: 40px;
    color: rgb(98, 98, 236);
    cursor: pointer;
    font-weight: 700;
}

.header__logo-group {
    cursor: pointer;
    font-weight: 700;
}
.header__menu {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  color: rgb(48, 45, 45);
  padding-top: 0;
    
}
.header__menu a {
    text-decoration: none;
    color: rgb(58, 55, 55);
    cursor: pointer;
 }

 .header__menu a:hover {
    color:blue;
 }
.header__menu-item {
    margin-right: 40px;
}
.header__menu-item-button {
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgb(111, 111, 241);
    background-color: rgb(79, 79, 233);

}
.header__banner {
    position: relative;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    }
.header__upper-title {
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 57.6px;
    overflow-wrap: break-word;
    text-align: center;
    top: 30%;
    right: 50%;
    transform: translate(50%,-50%);
}

.header__title {
    position: absolute;
    color: blue;
    font-size: 88px;
    font-weight: 800;
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.header__subtitle {
    position: absolute;
    color: white;
    font-size: 24px;
    text-align: center;
    top: 60%;
    right: 50%;
    transform: translate(50%,-50%);
}
.header__apply-button-button {
    position: absolute;
    color: white;
    cursor: pointer;
    display: block;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid rgb(111, 111, 241);
    background-color: rgb(79, 79, 233);
    top: 80%;
    right: 50%;
    transform: translate(50%,-50%);
}
.about-cloudy-group {
    position: relative;
    height: auto;
    width: auto;
    margin-top: 30px;
}

.about-cloudy-group-container {
position: relative;
color: rgb(18, 40, 60);
font-size: 16px;
line-height: 16px;
overflow-wrap: break-word;
}

.benefits__header {
 font-size: 24px;
 text-align: center;
}
.health-and-wellness__containter {
position: relative;
font-size: 16px;
line-height: 1.4;
font-family: sans-serif;
font-weight: 400;
word-wrap: break-word;
z-index: 1;
background-size: cover;
height: 640px;

}
.benefits-of-working-here {
    background-color: rgb(247, 239, 239);
    position: absolute;
}
.benefits-header-title {
    font-size: 42px;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 800;
    padding-bottom: 10px;

}
.lighter-icon-image {
    height: 130px;
    max-width: 70px;
    margin: auto;
    text-align: left;

}

.health-and-wellness__title {
    font-size: 24px;
    font-weight: 400;
}
.health-benefits {
    text-align: left;
    font-size: 16px;
    word-wrap: break-word;
}

.lamp-icon-image {
  height: 130px;
  max-width: 70px;
  margin: auto;
  text-align: left;
}
.clock-icon-image {
height: 130px;
  max-width: 70px;
  margin: auto;
  text-align: left;
}

.battery-icon-image { 
  height: 130px;
  max-width: 70px;
  margin: auto;
  text-align: left;
}



.our-workstyle_title {
    font-size: 42px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
    padding-bottom: 10px;
}
.laptop-on-table-image {
    height: 259x;
    width: 370px;
    border-radius: 10px;
    
}
.meeting-in-office-image {
    height: 259x;
    width: 370px;
    border-radius: 10px;
    

}
.image-of-girl-img {
    height: 259x;
    width: 370px;
    border-radius: 10px;
    
}
.man-with-laptop {
    height: 259x;
    width: 370px;
    border-radius: 10px;
    
}
.man-with-photos {
    height: 259x;
    width: 370px;
    border-radius: 10px;
    
}
.teamwork-in-office {
    height: 259x;
    width: 370px;
    border-radius: 10px;
    
}

.cloudy-group-in-action__title {
    color:black;
    font-size: 42px;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.cloudy-group-in-action {
    display: block;
    box-sizing: border-box;
    text-align: center;
}
.man-writing-on-board-image {
    height: 840px;
    width: 950px;
    text-align: center;
}
.our-people {
    display: block;
    background-color: rgb(247, 241, 241);
}
h2 {
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
}
.Employees-of-group {
    font-size: 24px;
    text-align: center;
}

.slide_image {
    height: 259x;
    width: 370px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}