.__logo {
    color: #567491;
    font-size: 26px;
    padding-top: 60px;

}
html {
    box-sizing: border-box;
}
.Header__menu {
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  font-size: 16px;
  font-family: sans-serif;
  color: black;
    
}
.Header__menu a {
    text-decoration: none;
    color: rgb(59, 59, 238); 
    cursor: pointer;
}
.header__menu-item {
    margin-right: 40px;
}
.header__menu-item button {
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: block;
    font-family: montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 23.94px;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: blue;

}
.header__upper-title {
    box-sizing: border-box;
    color: rgb(255 255 255);
    font-family: montserrat; sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 57.6px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: baseline;
}
.header__banner {
box-sizing: border-box;
display: block;
vertical-align: baseline;
height: 500;
width: 100%;
z-index: 0;
}
.about cloudy group-container {
box-sizing: border-box;
color: rgb(18, 40, 60);
display: flex;
font-size: 16px;
line-height: 16px;
overflow-wrap: break-word;
position: static;
z-index: auto;
}

.section__header-title {
box-sizing: border-box;
color: rgb(18, 40, 60);
display: block;
flex-basis: 100%;
font-size: 36px;
font-weight: 400;
position: relative;
text-align: center;
z-index: 1;
}
.about-cloudy-group-text {
text-align: center;
font-size: 16px;
font-weight: 400;
font-family: sans-serif;
line-height: 16px;
padding: 30px;
}
.Benefits of working here {
position: absolute;
right: 0;
left: 0;
overflow: hidden;
z-index: 0;

}
.Benefits__header {
 font-size: 24px;
 text-align: center;
}
.health and wellness__containter {
position: relative;
font-size: 16px;
line-height: 1.4;
font-family: sans-serif;
font-weight: 400;
word-wrap: break-word;
z-index: 1;
justify-content: flex-around;

}